*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 600;
}

:root{
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --background : #F5F9FF;
    --text-color: #2C3E50;
}

.regular-tx{
    font-weight: 400;
}

body{
    background: linear-gradient(#90e0ef, #00b4d8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-container{
    border: 1px solid;
    height: 29rem;
    width: 18.75rem;
    z-index: 1;
    margin:auto;
    background: linear-gradient(to top, rgb(0,0,0,0.5),rgb(255,255,255,0.15));
    border-radius: 0.75rem;
    backdrop-filter: blur(100px);
    padding: 20px;
}

.input-container{
    position: relative;
}

.city-inp{
    width: 100%;
    padding: 8px 45px 8px 14px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0,0,0,0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
}

.city-inp:focus{
    border: 3px solid rgb(0,0,0,0.15);
}

.city-inp::placeholder{
    color: rgb(255,255,255,0.75);
}

.search-icon{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    border: none;
}

.weather-info{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location-date-container{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.weather-summary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img{
    height:90px;
    width: 90px;
}

.weather-summary-info{
    align-items: end;
}

.weather-condition-container{
    display: flex;
    justify-content: space-between;
}

.condition-item{
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span{
    font-size: 30px;
}

.forecast-container{
    display: flex;
    gap: 10px;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 12px;
}

.forecast-container::-webkit-scrollbar-corner {
    background: transparent;
}

.forecast-container::-webkit-scrollbar{
    height: 8px;
}

.forecast-container::-webkit-scrollbar-track{
    background: rgb(0,0,0,0.1);
    border-radius: 99px;
}

.forecast-container::-webkit-scrollbar-thumb{
    background: rgb(0,0,0,0.1);
    border-radius: 99px;
}

.forecast-item{
    min-width: 80px;
    background: rgb(255, 255, 255,0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecast-item:hover{
    background: rgb(255,255,255,0.2);
}

.forecast-img{
    width: 35px;
    height: 35px;
}

/* Message Sedction */
.section-msg{
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.section-msg .message-img{
    height: 180px;
    width: fit-content;
}

